<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg'%>)">	
	<h1>Art'BNB</h1>
	<h3>Rent your art</h3>
</div>

<div class="container">
	<div class="artworks row">
		<% @artworks.each do |artwork| %>
			<div class="col-3">
				<%= link_to artwork_path(artwork), class: "" do %>
					<div class="card_artwork">
						<% if artwork.photo.attached? %>
							<%= cl_image_tag artwork.photo.key, crop: :fill%> 
						<% else %>
			    		<%= "no picture" %>
			  		<% end %>
			  		<div class="text-center">
							<p><%= artwork.title %></p>
							<p id="price"><%= artwork.price %> €/day</p>
						</div>
					</div>
				<% end %>
				</div>
			<% end %>	
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
