<div class="container">
	<div id="title">
	  <%= @artwork.title %> (<%= @artwork.category %>)
	</div>
	<div id="picture">
	  <%= cl_image_tag @artwork.photo.key, height: 300, width: 400, crop: :fill %>
	</div>

	<div class="info-container">
			<div id="description">
			  <%= @artwork.description %>
			</div>

			<div id="dimension">
			  <%= @artwork.dimension %>
			</div>

			<div id="price">
			  <%= @artwork.price %> €/day
			</div>	
	</div>
</div>