<div class="container">
  <div class="d-flex justify-content-between align-items-center">
  	<div id="title">
  	  <%= @artwork.title %> (<%= @artwork.category %>)
  	</div>
    <div>
      <% if @artwork.user == current_user %>
        ✏️ <%= link_to 'Edit artwork info', edit_artwork_path, class: "align-middle" %>
      <% end %>
    </div>
    <div>
    <% if @artwork.user == current_user %>
        ❌ <%= link_to "Delete this artwork",
          artwork_path(@artwork), class:"text-danger",
          method: :delete,
          data: { confirm: "Delete this artwork? This can't be undone!" } %>

      <% end %>
    </div>
  </div>
  <div class="d-flex row">
  	<div id="picture" class="col-8">
  	  <% if @artwork.photo.attached? %>
                <%= cl_image_tag @artwork.photo.key, crop: :fill, style: "height:400px; width: auto", class:"align-middle"%>
              <% else %>
              <%= image_tag "filler_picture.jpg", alt: "alttext", crop: :fill, style: "height:400px; width: auto", class:"align-middle"%>
      <% end %>
  	</div>
    <div id="map" class="col-4"
         style="width: 100%; height: 400px;"
         data-marker="<%= @marker.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">Map here
    </div>
  </div>
	<div class="info-container">
			<div id="description">
			  <%= @artwork.description %>
			</div>

			<div id="dimension" class="font-weight-bold">
			  Dimensions: <%= @artwork.dimension %>
			</div>

			<div id="price" class="font-italic text-right">
			  <%= @artwork.price %> €/day
			</div>
	</div>

  <% if @artwork.user != current_user %>
  	<div class="form-wrapper">
  	<h2>Would you like to book this artwork? </h2>
    <h6><em>Select your dates to send a request to the owner :)</em></h6>
  		<%= simple_form_for [@artwork, @rental] do |f| %>
  		<%= f.input  :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  		<%= f.input  :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  		<%= f.button :submit, "Book", class: "btn btn-primary" %>
  		<% end %>
    </div>
    <% end %>
</div>
