<div class="container">
	<div id="title">
	  <%= @artwork.title %> (<%= @artwork.category %>)
	</div>
	<div id="picture">
	  <% if @artwork.photo.attached? %>
              <%= cl_image_tag @artwork.photo.key, crop: :fill%>
            <% else %>
            <%= image_tag "filler_picture.jpg", alt: "alttext" %>
    <% end %>
	</div>

	<div class="info-container">
			<div id="description">
			  <%= @artwork.description %>
			</div>

			<div id="dimension">
			  <%= @artwork.dimension %>
			</div>

			<div id="price">
			  <%= @artwork.price %> €/day
			</div>
	</div>
</div>
