<div class="container">
  <%= @artwork.title %> (<%= @artwork.category %>)
</div>
<div class="container">
  <%= cl_image_tag @artwork.photo.key, height: 300, width: 400, crop: :fill %>
</div>

<div class="container">
  <%= @artwork.description %>
</div>

<div class="container">
  <%= @artwork.dimension %>
</div>

<div class="container">
  <%= @artwork.price %>
</div>

