<div class="container">
  <div class="d-flex justify-content-between align-middle">
  	<div id="title">
  	  <%= @artwork.title %> (<%= @artwork.category %>)
  	</div>
    <div>
      <% if @artwork.user == current_user %>
        <%= link_to '✏️ Edit artwork info', edit_artwork_path, class: "align-middle" %>
      <% end %>
    </div>
  </div>
	<div id="picture">
	  <% if @artwork.photo.attached? %>
              <%= cl_image_tag @artwork.photo.key, crop: :fill%>
            <% else %>
            <%= image_tag "filler_picture.jpg", alt: "alttext" %>
    <% end %>
	</div>

	<div class="info-container">
			<div id="description">
			  <%= @artwork.description %>
			</div>

			<div id="dimension">
			  <%= @artwork.dimension %>
			</div>

			<div id="price">
			  <%= @artwork.price %> €/day
			</div>
	</div>
</div>
