<h1> Hello <%= @user.name %>, these are your rentals! </h1>
<div>
<ul>
  <%= @user.rentals.each do |rental| %>
  <li><%= rental.artwork.title %></li>
  <%= link_to "Need some idea?", "rentals#edit", class: "btn-primary" %>
  <%= link_to "Need some idea?", "rentals#destroy", class: "btn-primary" %>
  <% end %>
</ul>
<%= link_to "Need some idea?", "artworks#index", class: "btn-primary" %>
</div>


