<div class="main_container">
  <h1 class="title"> Hello <%= @user.name %>, these are your rentals! </h1>

  <% @user.rentals.each do |rental| %>
    <div class="card-trip">
      <% if  rental.artwork.photo.attached? %>
        <%= cl_image_tag rental.artwork.photo.key, alt: "alttext" %>
      <% else %>
        <%= image_tag "filler_picture.jpg", alt: "alttext" %>
      <% end %>
  <div class="card-trip-infos">
    <div class="text_design">
      <h2><%= rental.artwork.title %></h2>
     <p class="description"><%= rental.artwork.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= rental.artwork.price %> $ </h2>
  </div>
  <div class="div_btn">
        <%= link_to "modify", "rentals#edit", class: "btn" %>
        <%= link_to "cancel", "rentals#destroy", class: "btn" %>
  </div>
  </div>
 <% end %>

<h1 class="title"> <%= @user.name %>, these are your reservations! </h1>
<div class="cards">
<% @user.owner_rentals.each do |rental| %>
<div class="card-trip">

<% end %>
</div>
</div>
