<h1> Hello <%= @user.name %>, these are your rentals! </h1>
<div>
<ul>
  <%= @user.rentals.each do |rental| %>
  <li><%= rental.artwork.title %></li>
  <%= link_to "modify", "rentals#edit", class: "btn-primary" %>
  <%= link_to "cancel", "rentals#destroy", class: "btn-primary" %>
  <% end %>
</ul>
<%= link_to "Need some idea?", "artworks#index", class: "btn-primary" %>
</div>

<h1> <%= @user.name %>, these are your reservations! </h1>
<div>
<% @user.owner_rentals.each do |rental| %>
<p><%=rental.status %></p>
<%= link_to "Accept", accept_rentals_rental_path(rental), class:"btn btn-success", method: :patch, remote: true%>
<%= link_to "Decline", decline_rentals_rental_path(rental), class:"btn btn-danger", method: :patch, remote: true %>

<% end %>
</div>
